@use '@/styles/media' as *;
@use '@/styles/functions' as *;

.article {
  .article__body {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(32);
    border-bottom: 2px solid var(--color-gray-alt);
    background-color: var(--color-gray);

    @include mobile {
      padding: rem(24);
    }
  }

  .article__title {
    font-weight: bold;

    @include mobile {
      font-size: rem(28);
    }
  }

  .article__description {
    font-size: rem(18);
  }

  .article__meta {
    display: flex;
    gap: rem(8);
    font-size: rem(16);
  }

  .article__buttons {
    display: flex;
    gap: rem(16);

    @include mobile {
      gap: rem(8);
    }
  }

  .article__button {
    max-width: rem(180);
    min-width: rem(100);

    @include mobile {
      padding: rem(8) rem(12);
    }

    @include mobile-s {
      padding: rem(6) rem(10);
    }
  }

  .article__content {
    font-size: rem(16);
    padding: rem(32);

    @include mobile {
      padding: rem(16);
    }
  }
}