@use '@/styles/media' as *;
@use '@/styles/functions' as *;

.article {
  .article__body {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(32) rem(32);
    border-bottom: 2px solid var(--color-gray-alt);
    background-color: var(--color-gray);
  }

  .article__title {
    font-weight: bold;
  }

  .article__description {
    font-size: rem(18);
  }

  .article__meta {
    display: flex;
    gap: rem(8);
    font-size: rem(16);
  }

  .article__buttons {
    display: flex;
    gap: rem(16);
  }

  .article__button {
    max-width: rem(160);
    min-width: rem(100);
  }

  .article__content {
    font-size: rem(16);
    padding: rem(32);
  }
}