@use '@/styles/functions' as *;
@use '@/styles/media' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(100);
  background-color: var(--color-accent);
  color: var(--color-light);
  gap: rem(10);
  margin-bottom: rem(40);

  @include tablet {
    padding: rem(80);

    &__title {
      font-size: rem(32);
    }
  }

  @include mobile {
    padding: rem(60);
  }
}